body {
	background: rgb(59, 48, 116);
	font-family: 'Droid Sans', sans-serif;
}

header, main, footer {
	min-width: 855px;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

header {
	padding: 25px 0 5px 0;
  background: white;
  overflow: auto;
  border-bottom: 1px solid #ddd;
}

header .banner {
  float: left;
  width: 570px;
}

a {
  color: #f00;
  text-decoration: none;
  font-weight: bold;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-size: 3em;
  color: rgb(59, 48, 116);
  float: left;
  width: 570px;
}

header nav {
	float: right;
	width: 285px;
}

main {
	background: white;
  display: block;
  /*overflow: auto;
  border-radius: 0 5px 5px 5px;;
  padding: 5px 40px 40px 40px;*/
}

/*I want to centralize the tabs without hardcoding it
main .container .tabs .myMenu {
  margin: auto;
  background: whitesmoke;
  padding-left: 230px;
}*/

.myMenu li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}

.myMenu li a:link, .myMenu li a:visited {
  border-radius: 5px 5px 0 0;
  list-style: none;
  background-color: rgb(59, 48, 116);
  padding: 5px;
  width: 150px;
  display: block;
  text-align: center;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

.myMenu li a:hover {
  background-color: red;
}

.myMenu li ul {
  position: absolute;
  visibility: hidden;
  border-top: 1px solid #fff;
  margin: 0;
  padding: 0;
}

.myMenu li ul li {
  display: inline;
  float: none;
  width: auto;
}

.myMenu li ul li a:link, .myMenu li ul li a:visited {
  /*background-color: rgb(59, 48, 116);*/
  padding: 5px;
  width: auto;
}

main .container {
 /* background: #ddd;
  min-width: 855px;
  max-width: 855px;
  margin: 4px auto;
  position: absolute;*/
}

/*main .left {
	float: left;
	width: 570px;
}

main .right {
	float: right;
	width: 285px;
}*/

main .mainpage {
  width: 855px;
  overflow: auto;
  padding-top: 5px;
}

main .container .mainpage .mainleft {
  width: 150px;
  float: left;
  /*border: 4px solid darksalmon;*/
  /*margin-left: 10px;*/
}

main .container .mainpage .mainright {
  width: 655px;
  float: right;
  /*border: 4px solid black;*/
  /*margin-right: 90px;*/
}

footer {
    border-top: 1px solid #ddd;
    padding: 40px 0 20px 0;
}

footer .contact {
  float: left;
  width: 570px;    
}

footer .contact p:nth-child(2) {
  color: #b33;
  font-style: italic;
}

footer .sitemap {
    float: right;
    width: 285px;
}

footer ul {
    width: 230px;
}

li {
    list-style: none;
}

h5 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25em;
    margin-bottom: 20px;
}

footer .sitemap .left {
    float: left;
}

footer .sitemap .right {
    float: right;
}


